.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.carouselSlide {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.carouselImageContainer {
  width: 100%;
  height: auto;
  position: relative;
}

.carouselImage {
  width: 100%;
  height: auto;
}

.carouselContent {
  position: absolute;
  top: 25%;
  left: 20px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}

.carouselContent h1 {
  font-size: 2.5em;
  margin: 0;
  text-align: start;
  font-weight: 600;
  padding: 15px 5px 5px 5px;
}

.carouselContent p {
  font-size: 1em;
  margin: 5px 0 0;
  text-align: left;
  padding: 10px;
  width: fit-content;
}

.blurred {
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

@media (max-width: 768px) {
  .carouselContent {
    left: 10px;
    padding: 10px;
    top: 10%;
  }
  
  .carouselContent h1 {
    font-size: 1.5em;
    padding: 5px;
  }

  .carouselContent p {
    font-size: 0.8em;
    padding: 0;
  }
}

@media (max-width: 410px) {
  .carouselContent {
    left: 10px;
    padding: 5px;
    top: 10%;
  }

  .carouselContent h1 {
    font-size: 1em;
  }

  .carouselContent p {
    font-size: 0.6em;
    padding: 0;
  }
}
