.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
  .carouselSlide {
    position: relative;
    text-align: center;
    overflow: hidden; 
  }
  
  .carouselImage{
    /* width: 100vw; */
    /* height: 100vh; */
    /* object-fit: contain; */
  }

  .carouselSlide img {
    width: 100%;
    height:100%; 
  }
  
  .carouselContent {
    position: absolute;
    top: 25%;
    left: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
  }
  
  .carouselContent h1 {
    font-size: 2.5em;
    margin: 0;

    font-weight: 600;
    padding: 30px 5px 5px 5px;
  }
  
  .carouselContent p {
    font-size: 1em;
    margin: 5px 0 0;
    text-align: left;
    padding: 10px;
    width: fit-content;
  }
  
  @media (max-width: 768px) {
    .carouselContent h1 {
      font-size: 1.5em;
      padding: 5px;
    }
  
    .carouselContent p {
      font-size: 1em;
    }
    .carouselSlide img {
      width: 100%;
      height:30vh; 
      object-fit: cover; 
    }
  }

  @media (max-width: 410px) {
    .carouselContent h1 {
      font-size: 1.2em;
    }
  
    .carouselContent p {
      font-size: 0.7em;
    }
    .carouselSlide img {
      width: 100%;
      height:30vh; 
      object-fit: cover; 
    }
  }
  