.contactContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #242932;
  color: white;
}

.leftSection {
  margin-bottom: 20px;
}

.rightSection {
  background: black;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.h2 {
  color: rgb(250,123,37);
  font-weight: 600;
  font-size: 1.5em;
}

.contactDetails {
  margin-top: 20px;
}

.detailItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 30px;
  color: #ff5722;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50px;

}

.detailItem h3 {
  margin: 0;
  font-size: 1.2em;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}

.detailItem p {
  margin: 0;
  font-size: 0.9em;
  font-family: 'Jost', sans-serif;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;

}

.formGroup.row {
  display: flex;
  flex-direction: column;
}

.formGroup.row .formGroup {
  flex: 1;
}

.formGroup label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #5f656b ;
  border-radius: 15px;
  font-size: 1em;
  background-color: #242932;
  /* background-color: rgba(255, 255, 255, .1); */
  color: white;
}

.formGroup textarea {
  height: 30vh;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder{
  color: #b1b9c0;
  
}

.submitButton {
  padding: 10px 20px;
  background-color: rgb(255,120,36);
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 45px;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 1em;
  font-family: 'BinancePlex';
}
/* Media queries for responsive design */
@media (min-width: 768px) {
  .contactContainer {
    flex-direction: row;
  }
  
  .leftSection {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 0;
  }
  
  .rightSection {
    flex: 1;
  }
  
  .formGroup.row {
    flex-direction: row;
    gap: 20px;
  }
}
