.HeaderNavbar {
    background-color: #082362;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    padding: 8px 30px;
}

.RightContent,
.LeftContent {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.RightContent .BreakLine,
.LeftContent .BreakLine {
    margin: 0 20px;
    font-weight: 100;
}

.AddressContainer,
.NumberContainer,
.TimingContainer {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.h6 {
    font-size: 15px;
    margin: 0; /* Remove default margin */
}

.icons {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.icon {
    color: #082362;
    margin-right: 10px; /* Adjust margin for balanced spacing */
    transition: color 0.3s ease;
    cursor: pointer;
    background-color: white;
    padding: 6px 10px;
    border-radius: 50%; /* Use 50% to make it a perfect circle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.TimingContainer .icon,
.AddressContainer .icon,
.NumberContainer .icon {
    background-color: white !important;
    color: #082362 !important; 
    padding: 6px 8px;
    background-color: transparent; /* Set to transparent for icons other than social media */
}


.phoneLink {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .HeaderNavbar {
        flex-direction: column; /* Stack items vertically on small screens */
        padding: 8px 15px;
        text-align: center; /* Center text alignment */
    }
    .RightContent {
        display: none;
    }
    .LeftContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .BreakLine {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .HeaderNavbar {
        flex-direction: column; /* Stack items vertically on small screens */
        padding: 8px 4px;
        text-align: center; /* Center text alignment */
    }
    .icon {
        padding: 6px 6px;
    }
}
