.carousel {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-image: url('/images/cars.jpg');
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}


/* @media screen and (max-width: 700px) {
    .carousel{
        height: 85vh;
    }
    .text {
        bottom: 20px;
        left: 20px;
        padding: 10px;
    }
    .text h1,
    .text h2 {
        font-size: 20px;
    }
} */



@media screen and (min-width: 360px) {
    .carousel{
        height: 85vh;
    }
    .text {
        bottom: 30px;
        left: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 375px) {
    .carousel{
        
        height: 84vh;
    }
    .text {
        bottom: 20px;
        left: 20px;
        padding: 10px;
    }
    .text h1,
    .text h2 {
        font-size: 20px;
    }
}



@media screen and (min-width: 390px) {
    .carousel{
        height: 88vh;
    }
}



@media screen and (min-width: 414px) {
    .carousel{
        height: 88vh;
    }
}

@media screen and (min-width: 500px) {
    .carousel{
        
        height: 83vh;
    }
}



@media screen and (min-width: 768px) {
    .carousel{
        height: 90vh;
    }
    .text h1,
    .text h2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 853px) {
    .text h1,
    .text h2 {
        font-size: 50px;
    }
}

@media screen and (min-width: 860px) {
    .carousel{
        height: 80vh;
    }
    .text h1,
    .text h2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 912px) {
    .carousel{
        height: 92vh;
    }
    .text h1,
    .text h2 {
        font-size: 40px;
    }
}



@media screen and (min-width: 1024px) {
    .carousel{
        height: 93vh;
    }
    .text {
        bottom: 80px;
        left: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .carousel{
        height: 83vh;
    }
    .text {
        bottom: 80px;
        left: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .carousel{
        height: 87vh;
    }
}




