.navbar {
  position: sticky;
  top: 0;
  background-color: #242932;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.logo img {
  height: 15vh;
  width: auto;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.menu a:hover {
  color: rgb(250,123,37);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #242932;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .menu.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 30px;
  }

  .menu a {
    font-size: 14px;
  }
}
