.teamSection {
  text-align: start;
  padding: 4rem 2rem;
  background-color: #ffffff;
}

.learnMoreBtn {
  background-color: #07294d;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learnMoreBtn:hover {
  background: #0e3dab;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.leftColumn {
  grid-column: span 1;
}

.leftColumn h2{
  color: #07294d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7em;
}

.teamMember {
  position: relative;
  width: 100%;
}

.teamImage {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  filter: blur(12px);
  -webkit-filter: blur(12px);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #0a1e4e;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
}

.teamMember .overlay {
  opacity: 1;
}

.text h3 {
  margin: 0;
  font-size: 1.1rem;
  border-bottom: 1px solid #acabab;
  /* padding-bottom: 5px; */
}

.text p {
  padding-top: 5px;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
  /* background-color: red; */

}

.icon{
  color: white;
  /* background-color: white; */
  padding: 3px 6px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .leftColumn {
    grid-column: span 1;
  }

  .teamMember {
    width: 100%;
  }
}
