.Project {
  text-align: center;
  color: white;
  background-image: url('/images/buildingHomeImage1.jpg');
  background-size: cover;
}

.Heading {
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  height: auto;
}

.sliderWrapper {
  position: relative;
}

.slideButton {
  position: absolute;
  top: 50%;
  outline: none;
  border-radius: 12px;
  border-color: rgba(255, 255, 255, .1);
  /* max-height: 6dvh !important;
  max-width: 6dvh !important; */
  z-index: 5;
  /* display: flex; */
  cursor: pointer;
  font-size: 1.6rem;
  /* align-items: center; */
  /* justify-content: center; */
  transform: translateY(-50%);
  /* border-width: 1px; */
  color: #07294d;
  background-color: white;

  /* min-height: 5vh !important;
  min-width: 2vw !important;
  max-height: 5vh !important;
  max-width: 3vw !important; */
  /* padding: 0; */
  /* margin: 0; */
}

.leftButton {
  left: 0;
}

.rightButton {
  right: 0;
}

.imageList {
  display: flex;
  list-style: none;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0;
  margin-bottom: 0px;
  
}

.imageList::-webkit-scrollbar {
  display: none;
}

.imageItemWrapper {
  flex: 0 0 50%;
  max-width: 50%;
  overflow: hidden;
}

.imageItem {
  width: 100%;
  height: 28rem;
  object-fit: cover;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, .2);
}

.allImage {
  padding: 20px;
}

.CompanyLogoImage {
  width: 100px; 
  min-height: 5rem; 
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: start;

}

.companyContent {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  text-align: start;
}

.companyInfoContainer {
  flex-grow: 1;
}

.companyInfo {
  text-align: start;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
}

.row {
  display: flex;
  align-items: start;
}

.row img {
  margin-right: 20px;
  border-radius: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.authorName {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
  text-align: start;
}

.authorPosition {
  font-size: 0.9em;
  font-family: 'Jost', sans-serif;
  text-align: start;
}

@media only screen and (max-width: 1024px) {
  .imageList {
    scroll-snap-type: x mandatory;
  }

  .imageItemWrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .imageItem {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width:1000px){
  .slideButton{
    /* min-height: 6vh !important;
    min-width: 4vw !important;
    max-height: 6vh !important;
    max-width: 4vw !important;
    background-color: rgb(9, 218, 33); */
  }
}

@media screen and (max-width: 700px) {
  /* .slideButton {
    height: 40px;
    width: 40px;
  } */

  .slideButton{
    /* min-height: 8vh !important;
    min-width: 8vw !important;
    max-height: 8vh !important;
    max-width: 8vw !important; */
  }
  .companyInfo {
    margin-top: 15px;
    min-height: 22rem;
  }
  
}

@media screen and (max-width: 400px) {

  .companyInfo {
    margin-top: 15px;
    min-height: 39rem;
  }
  
}
